@{
    ViewData["Title"] = "Home Page";
}
@model BookListViewModel

<div class="text-center">
    <h1 class="display-4">Welcome to the Bookstore</h1>
    <table class="table table-dark text-white table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Author
                </th>
                <th>
                    Publisher
                </th>
                <th>
                    ISBN
                </th>
                <th>
                    Classification/Category
                </th>
                <th>
                    Price
                </th>
                <th>
                    Pages
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Books)
            {
                <partial name="BookDetail" model="item" />
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8" page-model="@Model.PagingInfo" page-action="Index" 
                    page-classes-enabled="true" page-class="btn text-white"
                    page-class-selected="btn-light text-dark" 
                    page-class-normal="btn-dark text-white" 
                    page-url-category="@Model.CurrentCategory" class="text-right"></td>
            </tr>
        </tfoot>
        
    </table>
</div>
